# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#python compiled files
*.py[cod]

#sublime files
*.sublime-workspace

# pycharm stuff
.idea/*
