# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#python compiled files
*.py[cod]

#sublime files
*.sublime-workspace

# pycharm stuff
.idea/*

# floobits stuff
.floo
.flooignore

#VisualStudio IDE Stuff
src/sumo-cuda.vcxproj.filters
src/sumo-cuda.vcxproj
src/sumo-cuda.v11.suo
src/sumo-cuda.sln
src/sumo-cuda.sdf
src/sumo-cuda.opensdf
src/Debug/*
